/*
Your custom style

Add your custom styles in this file so it is easier to update the theme.
*/

/************************************************************************
***************** Address Container in Featured Items Box ***************
************************************************************************/
.elm-items-main .layout-list .item .item-categories, 
.items-container .layout-list .item .item-categories {
    text-align: center;
}

.elm-items-main .layout-box .item.item-featured .item-box-content-wrap {
    min-height: 390px;
}

.elm-content-main .layout-box .item .item-box-content-wrap {
    min-height: 390px;
}

.elm-items-main .layout-list .item-featured .item-thumbnail, 
.items-container .layout-list .item-featured .item-thumbnail {
    width: 30%;
}

.elm-items-main .layout-list .item-featured .item-content, 
.items-container .layout-list .item-featured .item-content {
    margin-left: 30%;
}

.elm-items-main .item .contact-buttons-container {
    background: none;
    margin-top: 20px;
    text-align: center;
}

.elm-items-main .layout-box .item .item-title, .items-container .layout-box .item .item-title {
    padding: 35px 20px 0px 20px;
}

.elm-items-main .layout-box .item .item-location p.txtrows-2, 
.items-container .layout-box .item .item-location p.txtrows-2 {
    height: auto;
}

.elm-items-main .item-featured .social-icons-displayed div.social-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative !important;
    right: 0;
    top: 0;
}

.item-featured .item-box-content-wrap .address-container,
.item-featured .item-info-wrap .address-container {
    position: relative;
}

.elm-items-main .layout-box .item-featured .item-box-content-wrap .item-location, 
.elm-items-main .layout-box .item-featured .item-info-wrap .item-location {
    padding: 0 20px 0px 20px;
    color: #ff9c00;
}

.elm-items-main .layout-box .item .item-location, 
.items-container .layout-box .item .item-location {
    padding: 0 20px 0px 20px;
    color: #ff9c00;
}

.elm-items-main .layout-box .item .item-title h3, 
.items-container .layout-box .item .item-title h3 {
    white-space: normal;
}

/* Texto Address */
.item-featured .item-box-content-wrap .address-container h2,
.item-featured .item-info-wrap .address-container h2 {
    margin-bottom: 1px;
    padding: 15px 50px 15px 20px;
    position: relative;
    background: none;
}

.item-featured .item-box-content-wrap .address-container h2,
.item-featured .item-info-wrap .address-container h2 {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

/* Contenedor de Datos de Address */
.item-featured .item-box-content-wrap .address-container > .content, 
.item-featured .item-info-wrap .address-container > .content {
    width: 100%;
    padding: 0px 10px 0px 10px;
    background: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.item-featured .item-box-content-wrap .address-container .content,
.item-featured .item-info-wrap .address-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
}


/* Redes Sociales */
.item-featured .item-box-content-wrap a,
.item-featured .item-info-wrap a {
    display: inline-block !important;
}

/* Filas de Datos Address */
.item-featured .item-box-content-wrap .address-row,
.item-featured .item-info-wrap .address-row {
    display: flex;
    flex-direction: column;
}

/* Campo Name Address */
.item-featured .item-box-content-wrap .address-name,
.item-featured .item-info-wrap .address-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.item-featured .item-box-content-wrap .address-name h5,
.item-featured .item-info-wrap .address-name h5 {
    position: relative;
    margin: 0;
}

/* Campo Data Address */
.item-featured .item-box-content-wrap .address-data,
.item-featured .item-info-wrap .address-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
}

/* Boton de Contacto */
.item-featured .item-box-content-wrap .contact-owner-container a,
.item-featured .item-info-wrap .contact-owner-container a {
    background: #9cd8d8;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 -2px 0 0 rgba(0,0,0,0.07) inset;
    -webkit-box-shadow: 0 -2px 0 0 rgba(0,0,0,0.07) inset;
    box-shadow: 0 -2px 0 0 rgba(0,0,0,0.07) inset;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    padding: 5px 25px;
}

.item-featured .item-box-content-wrap .contact-owner-container a,
.item-featured .item-info-wrap .contact-owner-container a {
    font-size: 12px;
    line-height: 24px;
}

/************************************************************************
************* FIN Address Container in Featured Items Box ***************
************************************************************************/
*
fieldset.seccion-paquete { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove black !important;
}